
  .body {
    display: flex;
    background-color: lightblue;
    height: 100%;
    gap: 200px;
    flex-direction: column;
  }



  .flex{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    color: black;
  }


  .menu{
    display: flex;
    font-size: 20px;
    justify-content: right;
    width: 25%;
  }

  .cont{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
  }

  .footer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
  }

#currentpage{
    color: grey;
    text-decoration: none;
}
